body {
  font-family: Arial, Helvetica, sans-serif;
}

.Gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 600px;
  height: 400px; */
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 7px #555)
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.slide-hidden {
  display: none;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer; 
}

.indicator-inactive {
  background-color: grey;
}

/* Start TopBar css */
.centerContainer {
    display: flex;
}

.search {
    position: relative;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    
}
  .searchIcon {
    background-color: #FEBD69;
    color: black;
    position: absolute;
    right: 0;
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    
  }

  .searchIcon:hover {
    background-color: #FEBD69;
    color: black;
  }
  
  .styledInputBase {
    color: black;
    width: 100%;
  }
  
  .styledInputBase input {
    padding: 8px 8px 8px 0; 
    padding-left: calc(1em + 32px); 
    transition: width 0.3s;
  }
  .english, .spanish {
    color: grey
  }
  .english:hover, .spanish:hover {
    cursor: pointer;
    color: #FEBD69;
}
/* End TopBar css */

.bottomBarContainer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: inherit; 
}
.login-signup {
    position: fixed; /* or 'absolute' if you prefer */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it's on top of other elements */
    background-color: white; /* Optional: ensure it has a background */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Optional: add some shadow for better visibility */
    padding: 20px; /* Optional: adjust padding as needed */
    border-radius: 8px; /* Optional: rounded corners */
}

.success {
    display: flex;
    justify-content: center;
    color: green;

}

.orderButton {
  background-color: #FEBD69;
  color: #000; /* Assuming you want the text to be black */
  margin-bottom: 8px; /* 1 unit in MUI is typically 8px */
}

.orderButton:hover {
  background-color: #fdb241; /* Slightly darker shade for hover effect */
}